/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
    outline: none;
    border: none;
    background-color: inherit;
}
/* reset css end */

/* hodu css start */
/* font import */
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* 공통  css start */
*{
    font-family: Pretendard;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
}

/* width를 통일하여 관리하기 위한 class */
.frame{
    width: 1280px;
}
/* 공통 css end */

.introduce > .frame,
.main-section > .main-section-head > .frame
{
    display: flex;
    justify-content: space-between;
}

h1{
    color: black;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word
}

body > header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > .interact{
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div > .interact > .interact-lMenu{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.btn_download{
    width: 140px;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    background-color: #D97652;
    border-radius: 40px;
    cursor: pointer;
}

.introduce{
    background-color: #F2E9D8;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.introduce-l{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
    width: 600px;
}

.introduce-l > h3{
    width: 400px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}


.introduce-l > button{
    width: 140px;
}

.introduce-r{
    padding-top: 136px;
}

.introduce-r > img{
    width: 415px;
    height: 890px;
    margin-bottom: -129px;
}

.main-section{
    margin-top: 80px;
    background-color: #fff;
    padding: 0 20px;
}

.section-head-l{
    flex-shrink: 0;
    width: 660px;
    height:  390px;
}

.section-head-l > img{
    width: 100%;
    height: 390px;
    border-radius: 30px;
}


.section-head-r{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    margin-left: 110px;
}

.section-head-r > h2{
    color: black;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    word-wrap: break-word 
}

.section-head-r > h3{
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}

.main-section-showmore{
    margin-top: 120px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    text-align: center;
}

header.showmore > h2{
    color: #D97652;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

header.showmore > h3{
    margin-top: 40px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

header.showmore > h3 > strong{
    color: #D97652;
    font-weight: 700;
}

ul.showmore{
    margin-top: 88px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, 378px);
    gap: 72px;
}

ul.showmore > li{
    width: 378px;
    height: 378px;
    border-radius: 30px;
    overflow: hidden;
}

ul.showmore > li > img{
    width: 378px;
    height: 378px;
    object-fit: cover;
}

footer.showmore{
    margin-top: 100px;
}

footer.showmore > h3{
    color: black;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
}

footer.showmore > button{
    padding: 15px 29px;
    background-color: #D97652;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 28px;
    border-radius: 40px;
}

button.btn_download.loading > .loader{
    margin: -7.5px 0;
}

.main-section-showmore > hr{
    margin-top: 80px;
}

.main-section-hoduhouse{
    position: relative;
    padding-bottom: 150px;
}

.main-section-hoduhouse > .frame > h2{
    margin-top: 68px;
    color: black;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    word-wrap: break-word;
}

.main-section-hoduhouse > .frame > h3{
    margin-top: 20px;
    color: #606367;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
}

.main-section-hoduhouse > .frame > #hoduhouse-map{
    margin-top: 40px;
    width: 100%;
    height: 560px;
}

.hoduhouse-subscribe{
    position: absolute;
    bottom: -140px;
    background-color: #263140;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 50px;
    border-radius: 30px;
}

.hoduhouse-subscribe > .nav-subscribe-l > h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    word-wrap: break-word;
}

.hoduhouse-subscribe > .nav-subscribe-l > h3{
    margin-top: 18px;
    color: #F2E9D8;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word
}

.nav-subscribe-r{
    width: 530px;
    display: flex;
    align-items: center;
}

.nav-subscribe-r > .email-wrap{
    flex-basis: 100%;
    flex-shrink: 0;
    padding: 20px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 60px;
}

.nav-subscribe-r > .email-wrap > .email-intput{
    padding-left: 22px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.nav-subscribe-r > .email-wrap > .email-intput > #tBx_email{
    width: 70%;
    outline: none;
    border: none;
    color: #767676;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}

.nav-subscribe-r > #btn_subscribe{
    position: relative;
    right: 140px;
    height: fit-content;
    padding: 15px 29px;
    background-color: #D97652;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    border-radius: 40px;
}

.main-section-footerarticle{
    height: 340px;
}

.main-section-footerarticle > div{
    width: 100%;
}

.main-section-footerarticle > div > img{
    width: 100%;
    height: 340px;
    object-fit: cover;
}

body > footer{
    padding: 45px 0;
    display: flex;
    justify-content: center;
}

body > footer > .frame{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > footer > .frame .family-sites{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

body > footer > .frame .family-sites > button{
    padding: 9px;
    border-radius: 50%;
    background-color: #F29D52;
}

/* 모달창 */
.modal-wrap{
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.2);
    z-index: 10;
}

.modal-subscribe{
    width: 600px;
    background-image: url('./img/modal-bgi.png');
    background-repeat: no-repeat;
    object-fit: fill;
    border-radius: 40px;
    padding: 60px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-subscribe > h2{
    margin-top: 24px;
    color: #D97652;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    word-wrap: break-word
}

.modal-subscribe > h3{
    margin-top: 12px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word
}

.modal-subscribe > #btn_modalClose{
    margin-top: 38px;
    padding: 15px 29px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    background-color: #D97652;
    border-radius: 40px;
}

.modal-loading{
    width: 200px;
    height: 200px;
    background-color: #fff;
    color: #D97652;
    border-radius: 10%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-loading > div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.modal-loading > div > .loading-circle{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    background: linear-gradient(#fff 50%, #D97652);
    animation: rotation 1s infinite;
}

.modal-loading > .loading-text{
    background-color: #fff;
    font-size: 20px;
    z-index: 10;
    font-weight: 700;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* 모달창 종료 */

.logo{
    cursor: pointer;
}

/* 화면 상단으로 이동하는 버튼 */
.nav-rightaside{
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 10;
    transition: bottom 0.2s ease-in-out;
}

.nav-rightaside.posUp{
    bottom: 180px;
}

#btn_arrowUp{
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #C4C4C4;
}

#btn_arrowUp::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('./img/icon-arrow-up.svg');
    position: relative;
    top: 3px;
    left: 4px; 
    opacity: 0.6;
}

#btn_arrowUp:hover::after{
    opacity: 1;
}

@keyframes rotation{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 미디어 쿼리 */
@media (max-width: 391px) {
    .pc, .pc *{
        display: none;
    }

    .frame{
        width: 100%;
    }
    
    .introduce > .frame,
    .main-section > .main-section-head > .frame{
        flex-direction: column;
        align-items: center;
    }

    body > header > div{
        padding: 0 20px;
    }

    h1{
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .introduce{
        padding: 0 20px;
        width: initial;
    }

    .introduce-l{
        padding-top: 116px;
        align-items: center;
        width: 100%;
    }

    .introduce-l > h3{
        width: 270px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    .introduce-r{
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    .introduce-r > img{
        width: 197px;
        height: 422px;
        margin-bottom: -65px;
    }

    .main-section-head{
        width: initial;
        padding: 0 20px;
    }

    .section-head-l{
        width: 326px;
        height: 190px;
    }

    .section-head-l > img{
        height: 190px;
        border-radius: 18px;
    }

    .section-head-r{
        margin-top: 40px;
        margin-left: 0;
    }

    .section-head-r > h2{
        font-size: 24px;
        line-height: 30px;
    }
    
    .main-section-showmore{
        margin-top: 60px;
    }

    header.showmore > h2{
        font-size: 24px;
        line-height: 30px;
    }

    header.showmore > h3{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    ul.showmore{
        margin-top: 40px;
        grid-template-rows: repeat(auto-fill, 326px);
        gap: 32px;
        place-items: center;
    }

    ul.showmore > li{
        width: 326px;
        height: 326px;
        border-radius: 18px;
        overflow: hidden;
    }

    ul.showmore > li > img{
        width: 326px;
        height: 326px;
        object-fit: cover;
    }

    .main-section-showmore > hr{
        margin-top: 60px;
    }

    .main-section-hoduhouse > .frame > h2{
        font-size: 24px;
        line-height: 20px;
    }

    .main-section-hoduhouse > .frame > #hoduhouse-map{
        margin-top: 20px;
        width: 100%;
        height: 145px;
    }

    .hoduhouse-subscribe{
        bottom: -360px;
        border-radius: 18px;
        padding: 36px 32px;
        flex-direction: column;
    }

    .hoduhouse-subscribe > .nav-subscribe-l > h2{
        font-size: 24px;
        line-height: 30px;
    }

    .hoduhouse-subscribe > .nav-subscribe-l > h3{
        font-size: 14px;
        line-height: 18px;
    }

    .nav-subscribe-r{
        margin-top: 30px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: center;
    }

    .nav-subscribe-r > .email-wrap{
        width: 100%;
    }

    .nav-subscribe-r > #btn_subscribe{
        margin-top: 20px;
        position: inherit;
    }

    .main-section-footerarticle{
        margin-top: 315px;
        height: 240px;
    }

    .main-section-footerarticle > div > img{
        height: 240px;
    }

    body > footer{
        padding: 30px 20px;
        justify-content: space-between;
    }

    footer.mobile > .frame > div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    body > footer > .frame div > button{
        padding: 7px;
    }

    body > footer > .frame div > button > img{
        width: 18px;
        height: 18px;
    }

    body > footer > .frame .family-sites{
        margin-top: 58px;
        column-gap: 16px;
    }

    body > footer > .frame > .footer-rside{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .accordian-wrap{
        position: fixed;
        width: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        background-color: #263140;
        z-index: 10;
        transition: 0.3s ease-in-out;
        transition-property: width, padding-left, padding-right;
    }

    .accordian-wrap.mobile > .accordian-menus{
        margin-top: 66px;
        padding: 0 28px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    .accordian-wrap.mobile > .accordian-menus > button:last-child{
        margin-top: 20px;
    }

    .accordian-menus > button{
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }
}

@media (min-width: 391.01px){
    .mobile,
    .mobile *{
        display: none;
    }
}